<%= render "users/userInfo", user: @user, book: @newbook %>
<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>

  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br />
            <%= @book.user.name %>
          <% end %>
        </td>
        <td>
          <%= @book.title %>
        </td>
        <td>
          <%= @book.body %>
        </td>

        <% if current_user == @book.user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
          </td>
        <% end %>

      </tr>
    </tbody>
  </table>
</div>